.st0 {
  fill: #353635;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4d4d4e;
}
.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ef4266;
}
.st3 {
  fill: #5a5a5c;
}
.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #5a5a5c;
}
.st5 {
  fill: #ef4266;
}
.st6 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #c7c5c4;
}
.st7 {
  fill: #b479a5;
}
